body {
    border: 20px solid #adb7c0;
    padding: 20px;
    box-sizing: content-box;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    font-family: source code pro;
}

.date {
    text-transform: uppercase;
    color: #063780;
    letter-spacing: 8px;
}

h1 {
    color: #343f57;
}

h1 + p {
    border-left: 4px solid #b8bfc5;
    padding-left: 1%;
}

#last {
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 4%;
}

p {
    font-weight: 500;
}

